version: "3.7"

# This docker-compose should be copied to docker-compose.override.yml
# and use it for development
services:
  messageboard:
    build:
      target: builder
    command:
      # this command is only to be able to run the container,
      # kill the process and `make run` again (inside of the container)
      - sh
      - -c
      - |
        messageboard &
        tail -f /dev/null
    volumes:
      - .:/go/src/github.com/guilherme-santos/messageboard
      # If you have other file just map it here for /etc/messageboard/messages.csv
      - ./messages.csv:/etc/messageboard/messages.csv
